@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Rg It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Hv Comp.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

:root {
  font-family: Pretendard;
  background-color: #f6f5f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-white: #ffffff;
  --color-background: #f6f5f8;
  --color-primary: #856cff;
  --color-stroke: #dfdbf0;
  --color-purple: #a390ff;
  --color-light-purple: #bcbbff;
  --color-light-black: #7d7993;
  --color-secondary-black: #555267;
  --color-gray: #f9f9f9;
  --color-primary-black: #2c2a36;
  --color-purple-stroke: #dfdbf0;
  --color-hover: #b4a5ff;
  --color-status-green: #c4ffa4;
  --color-status-yellow: #ffe292;
  --color-status-red: #ffb3b3;

  --font-coolvetica: 'Coolvetica', sans-serif;
  --shadow-card: 0px 0px 14px 0px rgba(223, 219, 240, 0.4);
  --shadow-modal: 4px 4px 7px 0px rgba(0, 0, 0, 0.1);
  --shadow-dropdown: 2px 4px 7px 0px rgba(0, 0, 0, 0.1);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility bg-radial-gradient {
  @apply bg-radial-[80%_74%_at_34%_0%] from-[#AC9BFF] from-0% to-[#7D63FF] to-100%;
}

@utility custom-scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555267;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

input::placeholder {
  color: var(--color-light-black);
}
